[network]
# Change only this value when both APIs move to another host or IP.
host=localhost
scheme=http
bot_port=58913
netease_port=3000

[netease]

[ui]
poll_interval_ms=2000
window_x=-1
window_y=-1
window_width=420
window_height=650
always_on_top=0
desktop_lyric_x=-1
desktop_lyric_y=-1
desktop_lyric_locked=0
desktop_lyric_font_size=24

[update]
url=
